body {
    background-color: #222222;
    padding:0;
    margin:0;
}

#main {
    padding:0;
    margin:0;
}


button {
    background-color: #CBE86B;
    border: none;
    color: #1C140D;
    padding: 12px 26px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
}

button.selected {
    background-color: #CBE8AB;
}

div#actionbuttons {
    margin: auto;
    width: 90%;
}

.menutitle {
    color: #EEEEEE;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}



rect.entity {
    fill-opacity: 0;
}

rect.debug {
    stroke: blue;
}

#container {
    height: 100%;
    width:100%;
    font-size:0;
}

#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}

#left {
    width: 25%;
    height:100vh;
}

#right {
    height:100vh;
}

div#middle {
    width: 57%;
    background-image:url('img/rc_workshop.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    height:100vh;
}
